# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Poetry
.venv/
poetry.lock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
*.pid

# Terraform (when we get there)
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars